/* Style for Button */
.Button {
  margin: 5px;
  padding: 10px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  border: 0.2px solid black;
  top: 0;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.Button:disabled {
  background-color: gainsboro;
  box-shadow: 0 6px gray;
}
.Button:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

.Button:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
