/* Styles for Modal */
.Modal-Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
}
.Modal-Header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Modal-Content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

@media screen and (max-width: 756px) {
  .Modal-Content {
    font-size: large;
  }
}
.Word-Highlight {
  color: yellow;
}

.Rules ul {
  list-style-type: none;
}

.Rules li {
  display: flex;
  gap: 5px;
  align-items: center;
}

.Gray-Bullet {
  border: 15px solid gray;
}

.Yellow-Bullet {
  border: 15px solid yellow;
}

.Green-Bullet {
  border: 15px solid greenyellow;
}
